:root{
  /* Colour Palette Colours */
  --palette-col-1: #05445E;
  --palette-col-2: #189AB4;
  --palette-col-3: #26c8d3;
  --palette-col-4: #75E6DA;
  --palette-col-5: #D4F1F4;
  --palette-col-6: #EFEBE0;
  --palette-col-7: #fcb8c3;
  --palette-col-8: #FB8DA0;
  --palette-col-9: #FB6B90;
  --palette-col-10: #FB4570;
  /* Background Palette Colours */
  --bg-col-1: #ffffff;
  --bg-col-2: #aaaaaa;
  --bg-col-3: #292C33;
  --bg-col-4: #22252A;
  --bg-col-5: #152838;
  --bg-col-6: #000000;
  /* Main Body Variables */
  --bg-main-col: #101b26;
  --pixel-grid-bg: #777;
  --text-main-col: #fff;
  --border-radius-1: 25px;
  --border-radius-2: 10px;
}
/* Main element overrides */
body{
  margin: 0;
  padding: 0;
  background: var(--bg-main-col);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: auto;
  max-width: 700px;
  color: var(--text-main-col);
}
header{
  margin-top: 30px;
  margin-bottom: 50px;
}
footer{
  margin: auto;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  display: block;
}
h1{
  font-size: 70px;
  font-weight: 900;
  padding: 0;
  margin: 0;
}
h2{
  font-size: 25px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

/* Main Pixel Grid */
#pixel__grid-container{
  margin: 5px 0;
}
#pixel__grid{
  /* min-width: 500px; */
  max-width: 100%;
  height: 100vw;
  max-height: 700px;
  /* min-height: 500px; */
  display: grid;
  grid-gap: 1px;
  background: var(--pixel-grid-bg);
  margin: auto;
  padding: 1px
}
.pixel__grid-tile{}

/* Start of options */
.grid-size--4x4{
  grid-template: auto / repeat(4, 1fr);
}
.grid-size--8x8{
  grid-template: auto / repeat(8, 1fr);
}
.grid-size--16x16{
  grid-template: auto / repeat(16, 1fr);
}
.grid-size--32x32{
  grid-template: auto / repeat(32, 1fr);
}
/* Pixel Menu Elements */
#pixel__menu{
  display: grid;
  grid-template-areas:
  "option option"
  "palette palette"
  ;
  grid-gap: 10px;
  ;
}
#pixel__menu-flex-container{
  grid-area: option;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#pixel__grid--size-selector{

}
select{
  /* appearance: none; */
  /* -webkit-appearance: none; */
}
#pixel__grid--button{
  /* grid-area: button; */
}
.pixel__grid--button{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  width: 4em;
  font-size: inherit;
  background: none;
  color: inherit;
  border: 2px solid var(--text-main-col);
  border-radius: 25px;
  padding: 0.3em;
}
.pixel__grid--button:hover,
.pixel__grid--button:focus{
  background: var(--text-main-col);
  color: var(--bg-main-col);
  border: 2px solid var(--text-main-col);
  border-radius: 25px;
  outline: none;
}

/* Grid with palettes */
#pixel__palette-container{
  display: grid;
  grid-template-columns: 0.8fr 0.9fr 1.4fr;
  grid-gap: 15px;
  align-items: center;
  width: 100%;
  grid-area: palette;
  height: 100px;
}
#pixel__palette-bg-color{
  width: 100%;
  max-width: 160px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}
.bg-colour-tile{
  border-radius: 10px;
}
.pixel__palette-bg-text{
  position: absolute;
  margin-top: -20px;
  text-align: center;
}
#pixel__palette-selected{
  max-width: 65px;
  width: 100%;
  height: 65px;
  margin-left: auto;
  display: inline-block;
  border-radius: 15px;
  box-shadow:
  0 0 0 4px var(--bg-main-col),
  0 0 0 6px var(--text-main-col)
  ;
}
#pixel__palette{
  width: 100%;
  max-width: 270px;
  height: 100%;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  margin-left: auto;
}
.pixel__palette-tile{
  border-radius: 10px;
}

/* Palette colours */
.palette-colour-1{
  background: var(--palette-col-1);
}
.palette-colour-2{
  background: var(--palette-col-2);
}
.palette-colour-3{
  background: var(--palette-col-3);
}
.palette-colour-4{
  background: var(--palette-col-4);
}
.palette-colour-5{
  background: var(--palette-col-5);
}
.palette-colour-6{
  background: var(--palette-col-6);
}
.palette-colour-7{
  background: var(--palette-col-7);
}
.palette-colour-8{
  background: var(--palette-col-8);
}
.palette-colour-9{
  background: var(--palette-col-9);
}
.palette-colour-10{
  background: var(--palette-col-10);
}

/* Background Palette Colours */
.bg-colour-1{
  background: var(--bg-col-1);
}
.bg-colour-2{
  background: var(--bg-col-2);
}
.bg-colour-3{
  background: var(--bg-col-3);
}
.bg-colour-4{
  background: var(--bg-col-4);
}
.bg-colour-5{
  background: var(--bg-col-5);
}
.bg-colour-6{
  background: var(--bg-col-6);
}
